@page
@model JordnærCase2023.Pages.Members.CreateMemberModel
@{
    ViewData["Title"] = "Opret nyt medlem";
}

<h1>Opret nyt medlem</h1>


<div>
    <form method="post">

        <div class="form-group">
            <label asp-for="@Model.newMember.Name" class="control-label">Navn</label>
            <input asp-for="@Model.newMember.Name" class="form-control" placeholder="..." />
        </div>

        <div class="form-group">
            <label asp-for="@Model.newMember.Phone" class="control-label">Tlf.</label>
            <input asp-for="@Model.newMember.Phone" class="form-control" placeholder="..." />
        </div>

        <div class="form-group">
            <label asp-for="@Model.newMember.Email" class="control-label">E-mail</label>
            <input asp-for="@Model.newMember.Email" class="form-control" placeholder="..." />
        </div>

        <div class="form-group">
            <label asp-for="@Model.newMember.Password" class="control-label">Kodeord</label>
            <input asp-for="@Model.newMember.Password" class="form-control" placeholder="..." />
        </div>

        <div class="form-group">
            <label asp-for="@Model.newMember.SanitationCourse" class="control-label">Hygiejne kursus</label>
            <input type="checkbox" asp-for="@Model.newMember.SanitationCourse" value="true"/>
        </div>

        <div class="form-group">
            <label asp-for="@Model.newMember.Admin" class="control-label">Adminstrator</label>
            <input type="checkbox" asp-for="@Model.newMember.Admin" value="true" />
        </div>

        <div class="form-group">
            <input type="submit" value="Opret medlem" class="btn btn-primary"/>
        </div>
    </form>
</div>