@page
@model JordnærCase2023.Pages.Shifts.DeleteModel
@{
    ViewData["Title"] = "Delete Shift";
}

<h1>Delete Shift</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="@Model.ShiftDelete.ShiftID" class="control-label"></label>
                <input asp-for="@Model.ShiftDelete.ShiftID" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="@Model.ShiftDelete.ShiftType" class="control-label"></label>
                <input asp-for="@Model.ShiftDelete.ShiftType" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="@Model.ShiftDelete.DateFrom" class="control-label"></label>
                <input asp-for="@Model.ShiftDelete.DateFrom" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="@Model.ShiftDelete.DateTo" class="control-label"></label>
                <input asp-for="@Model.ShiftDelete.DateTo" class="form-control" readonly />
            </div>
            <div class="form-group">
                <input type="submit" value="Delete" class="btn btn-primary" /> 
                <button type="button" class="btn btn-primary" onclick="window.history.back();">Cancel</button>
            </div>
        </form>
    </div>
</div>